.textarea {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	font: inherit;
	padding-inline: 0.5em;
	padding-block: 0.25em;
	min-height: 2.25em;
	outline: none;
	font-size: 1em;
	transition: box-shadow 75ms ease;
	min-height: 3.5rem;
}

.textarea::placeholder {
	color: #949494;
}

@media (prefers-reduced-motion) {
	.textarea {
		transition: none;
	}
}

.textarea:focus {
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3795fa;
}
