.containerDiv {
	position: relative;
}

.triggerButton {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-block: 0.3rem;
	min-height: 2.25rem;
	padding-inline-start: 0.75rem;
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	text-align: left;
	border-radius: 0.5rem;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	cursor: default;
	outline: none;
	font-size: 1rem;
	transition: box-shadow 75ms ease;
}

.triggerButton:focus-visible {
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3795fa;
}

@media (prefers-reduced-motion) {
	.triggerButton {
		transition: none;
	}
}

.triggerButton[aria-expanded="false"] svg {
	transform: rotate(0deg);
}

.triggerButton[aria-expanded="true"] svg {
	transform: rotate(180deg);
}

.transitionEnter {
	transition: opacity 75ms ease-in, scale 75ms ease-in;
	transform-origin: top left;
}

.transitionEnterFrom {
	opacity: 0;
	scale: 0.95;
}

.transitionEnterTo {
	opacity: 1;
	scale: 1;
}

.listboxOptions {
	position: absolute;
	width: 100%;
	padding-block: 0.25rem;
	padding-inline-start: 0;
	margin-top: 0.25rem;
	overflow: auto;
	font-size: 1rem;
	background-color: white;
	border-radius: 0.375rem;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
	max-height: 15rem;
	outline: none;
	border: 1px solid #ccc;
	list-style: none;
}

.triggerIconContainer {
	position: absolute;
	display: flex;
	align-items: center;
	top: 50%;
	right: 0.75rem;
	transform: translateY(-50%);
}

.listboxItem {
	padding-block: 0.5rem;
	cursor: default;
	user-select: none;
	position: relative;
	padding-block: 0.5rem;
	padding-inline: 1rem;
	display: flex;
	align-items: center;
	outline: none;
	justify-content: space-between;
	height: 2.25rem;
}

.listboxItem:focus {
	background-color: rgba(232, 243, 255, 0.713);
	color: #2e79c8;
}

.listboxItem[aria-selected="true"]:focus {
	color: #2e79c8;
}

.listboxItem[aria-selected="true"] {
	color: #3795fa;
}

.placeholder {
	color: #949494;
}

.tag {
	padding-inline: 0.5em;
	padding-block: 0.25em;
	background-color: #ffffff;
	border: 1px solid #ccc;
	font-size: 0.875rem;
	border-radius: 0.25em;
	display: inline-flex;
	align-items: center;
	gap: 0.375em;
}

.tagsContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 0.375em;
}

.removeItemBtn {
	padding: 0;
	cursor: pointer;
	display: block;
	height: 0.75rem;

	& svg {
		pointer-events: none;
	}
}
