.checkContainer {
	position: relative;
}

.checkInput {
	position: absolute;
	scale: 0;
}

.switchLabel {
	display: inline-flex;
	align-items: center;
	border: 1px solid #dadada;
	border-radius: 100vh;
	cursor: pointer;
	background-color: #eee;
	height: 1.25em;
	width: 2.5em;
	transition: background-color 75ms ease, box-shadow 75ms ease;
}

@media (prefers-reduced-motion) {
	.switchLabel {
		transition: none;
	}
}

.switchIndicator {
	display: block;
	height: 1em;
	width: 1em;
	background-color: #6b6b6b;
	border-radius: 50%;
	transform: translateX(0.05em);
	transition: transform 150ms ease, background-color 75ms ease;
}

.checkInput:focus-visible + .switchLabel {
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3795fa;
}

.checkInput:checked {
	& + .switchLabel {
		background-color: #3795fa;
		border-color: #9acbff;
	}

	& + .switchLabel .switchIndicator {
		background-color: #fff;
		transform: translateX(calc(100% + 0.3em));
	}
}
