.toast:popover-open {
	position: fixed;
	inset: unset;
	right: 5px;
	bottom: 5px;

	opacity: 1;

	transform: translateX(-100%);

	@starting-style {
		opacity: 0;
		transform: translateX(0%);
	}
}

.toast {
	border: 1px solid #ccc;
	padding: 0.5rem 1rem;
	font-size: 1.2rem;
	padding: 10px;
	transition-behavior: allow-discrete;
	margin: 0;

	transform: translateX(0);

	transition: opacity 500ms, transform 500ms, overlay 500ms allow-discrete,
		display 500ms allow-discrete, margin 500ms allow-discrete;
}
