.input {
	background-color: transparent;
	border: none;
	font: inherit;
	font-family: inherit;
	outline: none;
	padding-block: 0.5rem;
	flex: 1;
	min-width: 0;
}

.input::placeholder {
	color: #949494;
}

.container {
	background-color: #f8f8f8;
	border: 1px solid #ccc;
	border-radius: 0.5rem;
	padding-inline: 0.5em;
	display: flex;
	gap: 0.5rem;
	height: 2.25em;
	flex-wrap: wrap;
	align-items: center;
	transition: box-shadow 75ms ease;
}

@media (prefers-reduced-motion) {
	.container {
		transition: none;
	}
}

.container:focus-within {
	box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3795fa;
}

.tag {
	background-color: #f9f9f9;
	border: 1px solid #bcbcbc;
	padding-inline: 0.5rem;
	padding-block: 0.25rem;
	border-radius: 0.25em;
	display: inline-flex;
	gap: 0.5rem;
	align-items: center;
}

.removeButton {
	appearance: none;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
